body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #460242;
    color: #000000;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

section {
    padding: 40px;
}

footer {
    height: 30px;
    background-color: #460242;
    color: #000000;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

label {
    margin-bottom: 8px;
}

input,
textarea {
    padding: 8px;
    margin-bottom: 16px;
}

button {
    background-color: #333;
    color: #000000;
    padding: 10px;
    cursor: pointer;
}
 #home #imagem-de-rosto {
    width: 380px; 
    height: 380px;
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    border: 2px solid #460242; 
    object-fit: cover; 
}
#contact #link-linkedin {
    width: 90px; 
    height: 90px;
    display: inline;
    margin: 20px auto;
    border-radius: 50%; 
    object-fit: cover;
}
#contact #link-whatsapp{

    width: 90px; 
    height: 90px;
    display: inline;
    margin: 20px auto;
    border-radius: 50%; 
    object-fit: cover;
}